:root {
    /* UI Colors */
    --font-color: #fb5;
    --font-hightlight: #f70;
    --font-hightlight-2: #f20;
    --border-color: #fb5;
    --border-color-2: #a77e42;
    --background-color: #111;
    --font-success: #4AF626;
    --font-error: #f20;
    --font-disabled: #555;
}

